.main_container {
  width: 100%;
  padding: 4rem 1.5rem;
}

.content_container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-family: var(--font-primary);
  font-size: 1.75rem;
}

.contact_info {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

@media (width < 768px) {
  .content_container {
    gap: 1rem;
  }

  .contact_info {
    flex-direction: column;
  }

  .title {
    font-size: 1.25rem;
  }
}
