.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #f0f0f0;
  background-color: #222;
}

.content_container {
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  grid-template-areas: "title search shopping_cart";
  justify-items: center;
  align-items: center;
}

.title {
  color: #f0f0f0;
  cursor: pointer;
  transition: scale 0.1s;
  font-size: 2.5rem;
  grid-area: title;
}

.title:hover {
  scale: 1.2;
}

.searchbar_container {
  width: 100%;
  grid-area: search;
}

.shopping_cart_icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(21%)
    hue-rotate(132deg) brightness(103%) contrast(107%);
  cursor: pointer;
  transition: scale 0.1s;
  grid-area: shopping_cart;
}

.shopping_cart_icon:hover {
  scale: 1.2;
}

.burger_icon {
  display: none;
}

@media (width < 768px) {
  .title {
    font-size: 2rem;
  }

  .main_container {
    padding: 0.8rem 1.2rem;
  }

  .shopping_cart_icon {
    width: 20px;
    height: 20px;
  }

  .burger_icon {
    cursor: pointer;
    display: block;
    grid-area: burger;
    filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(21%)
      hue-rotate(132deg) brightness(103%) contrast(107%);
  }

  .content_container {
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "burger title shopping_cart"
      "search search search";
  }
}
