.main_container {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: 1px solid #c4c4c4;
  border-radius: 0.25rem;
  color: #c4c4c4;
  font-family: var(--font-primary);
}

.main_container:focus-within {
  outline-width: 2px;
}

@media (width < 768px) {
  .main_container {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.3rem 0.8rem;
  }
}
