.main_container {
  border-radius: 10px;
  cursor: pointer;
  outline: 1px solid #c4c4c4;
  overflow: hidden;
  transition: outline 0.2s ease-in-out;
}

.content_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product_image {
  width: 100%;
  height: 100%;
}

.main_container:hover {
  outline-color: #222;
}

.product_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0.75rem;
}

.product_name {
  font-family: var(--font-primary);
  font-size: 1rem;
  color: #222;
}

.product_price {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  color: #222;
}

@media (width < 768px) {
  .product_image {
    width: 150px;
    height: 150px;
  }
}
