.main_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.success_flag {
  color: green;
  font-family: var(--font-primary);
  font-size: 1rem;
  outline: 1px solid green;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input_title {
  font-family: var(--font-primary);
  font-size: 1rem;
}

.input_field {
  color: #222;
}

.input_field:focus-within {
  outline-color: #222;
}
